* {
    margin: 0;
    padding: 0;
    outline: none;
}

.why-title {
    float: right;
    margin-right: 25%;
    margin-top: 20%;
    width: 50%;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;
    text-align: right;
}


.registration-title {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.entry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Valerna Round", sans-serif;
    font-size: 34px;
    border-radius: 50px;
    padding: 15px;
    width: 15em;
    margin-top: 5%;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Valerna Round", sans-serif;
    font-size: 34px;
    border: 1px solid #000000;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 15px;
    width: 16em;
    margin-top: 12%;
}