* {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1B2340;
}

p {
    padding: 0;
    margin: 0;
}

.clear{
    clear: both;
}

.header {
    width: 100%;
    height: 18vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #201434;
}


.code-jam-logo {
    float: left;
    margin-left: 2em;
    width: 20%;
    height: 100%;
}

.code-jam-icon {
    float: left;
    width: 75px;
    height: 75px;
    padding-top: 5vh;
    border-radius: 50%;
}

.title {
    float: left;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 50px;
    padding-left: 0.5em;
    padding-top: 1.25em;
    color: #ffffff;
}

.content{
    font-family: 'Valerna Round', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    width: 47em;
    margin-right: auto;
    margin-left: auto;
}

.item-div{
    float: left;
    width: 100%;
    font-family: 'Valerna Round', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    height: 3em;
}

.item-description{
    float: left;
    font-family: 'Valerna Round', sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: #ffffff;
    line-height: 3em;
}