{% extends 'base.html' %}

{% block title %}<title>Code Jam - Posts</title>{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}
{% block fonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Varela+Round&display=swap"
          rel="stylesheet">
{% endblock %}

{% block body %}

{% endblock %}