<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Jam - Share your project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/share.css') }}">
</head>
<body>
<div class="header">
    <div class="code-jam-logo">
        <a href="/"><img class="code-jam-icon" src="{{ url_for('static', filename='img/icon.jpg') }}" alt=""
                         style="box-sizing: content-box"></a>
        <a href="/"><h2 class="title">Code Jam</h2></a>
    </div>
</div>
<div class="main">
    <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="content">
            <div class="item-div">
                <h2 class="item-description">Project title:</h2>
                <label>
                    <input class="project-title" type="text" name="project-title"
                           placeholder="Your project title. Max 20 symbols"
                           tabindex="1"
                           autofocus>
                </label>
            </div>
            <div class="item-div">
                <h4 class="item-description">Type:</h4>
                <label>
                    <select class="form-select" name="select-item">
                        <option value="python">Python</option>
                        <option value="c++">C++</option>
                        <option value="c#">C#</option>
                        <option value="html">HTML&CSS</option>
                        <option value="java">Java</option>
                        <option value="photoshop">Adobe Photoshop</option>
                        <option value="illustrator">Adobe Illustrator</option>
                    </select>
                </label>
            </div>
            <div class="item-div">
                <h4 class="item-description">Description:</h4>
                <label>
                        <textarea class="short-description" name="short-description-text"
                                  placeholder="Description. Max length 200"
                                  maxlength="200" tabindex="3"></textarea>
                </label>
            </div>
            <div class="item-div">
                <h4 class="item-description">Zip folder with files:</h4>
                <label>
                    <input type="file" class="custom-file" name="file-input" tabindex="4"
                           accept=".zip,.rar,.7zip">
                </label>
            </div>
        </div>
        <div class="clear"></div>
        <div class="buttons">
            <button class="share-btn" type="submit" tabindex="5">Share!</button>
        </div>
    </form>
</div>
</body>
</html>